table.listgrid td{
  padding: 2px 15px;
  border-style:none;
}
table.listgrid, table.listgrid td{
  border-color: #336699;
}

table.listgrid .header{
  background-color: #336699;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  table.listgrid td {
    padding: 2px 5px;
  }
  h4{
    margin: 10px;
    font-size: 12px;
  }
  img{
    width: 60px;
  }
}
