.table-contents{
  padding: 0px 10px;
}
.table td, .table th {
    padding: 3px;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid #dddddd!important;
    font-size: small;
}
.table th{
  background-color: #ff6f5e;
  color: #ffffff;
}
table{
    border: none;
    border-collapse: collapse;
}

.result-count{
  font-size: 15px;
  color: #ff6f5e;
  font-weight: bold;
  padding: 8px 15px;
  a{
    font-weight: normal;
  }
}
