<ng-sidebar-container
  (onBackdropClicked)="_onBackdropClicked()" style="height: calc(100vh - 85px);">
  <!--      <ng-sidebar-->
  <!--        [(opened)]="_opened"-->
  <!--        [mode]="_MODES[_modeNum]"-->
  <!--        [keyClose]="_keyClose"-->
  <!--        [position]="_POSITIONS[_positionNum]"-->
  <!--        [dock]="_dock"-->
  <!--        [dockedSize]="'50px'"-->
  <!--        [autoCollapseHeight]="_autoCollapseHeight"-->
  <!--        [autoCollapseWidth]="_autoCollapseWidth"-->
  <!--        [closeOnClickOutside]="_closeOnClickOutside"-->
  <!--        [closeOnClickBackdrop]="_closeOnClickBackdrop"-->
  <!--        [showBackdrop]="_showBackdrop"-->
  <!--        [animate]="_animate"-->
  <!--        [trapFocus]="_trapFocus"-->
  <!--        [autoFocus]="_autoFocus"-->
  <!--        [sidebarClass]="'demo-sidebar'"-->
  <!--        [ariaLabel]="'My sidebar'"-->
  <!--        (onOpenStart)="_onOpenStart()"-->
  <!--        (onOpened)="_onOpened()"-->
  <!--        (onCloseStart)="_onCloseStart()"-->
  <!--        (onClosed)="_onClosed()"-->
  <!--        (onTransitionEnd)="_onTransitionEnd()">-->

  <!--&lt;!&ndash;        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>&ndash;&gt;-->
  <!--&lt;!&ndash;        <p><a closeSidebar>This will close the sidebar too</a></p>&ndash;&gt;-->


  <!--        <app-search [isMobile]="isMobile"></app-search>-->


  <!--      </ng-sidebar>-->
  <div ng-sidebar-content>
    <div class="demo-header">
      <div class="row">
        <div class="col-4">
          <!--              <button (click)="_toggleOpened()" class="btn btn"> <fa-icon [icon]="faBars"></fa-icon>-->
          <!--                <span>&ensp;Results</span>-->
          <!--              </button>-->
          <span>&ensp;Results</span>
        </div>
        <div class="col-8 text-right">
          <div class="result-count ">
            <a name="" class="mr-1" href="javascript:void 0" (click)="editSearch()">
              <fa-icon [icon]="faSearch"></fa-icon>
              Modify Search</a>
            <span *ngIf="filteredItems && filteredItems.length"
                  class="uppercase">Total Results: {{filteredItems.length}}</span></div>
        </div>
      </div>

    </div>
    <section class="table-contents">

      <div *ngIf="showSpinner" class="d-flex flex-column align-items-center">
        <span class="spinner spinner-lg">
          Loading...
        </span>
      </div>

      <h2 class="no-data" *ngIf="filteredItems && filteredItems.length===0 && !showSpinner">No Data Found</h2>

      <pagination *ngIf="filteredItems && filteredItems.length"
                  [itemsPerPage]="25"
                  [totalItems]="items.length"
                  (pageChanged)="pageChanged($event)"
      ></pagination>

      <table width="100%" class="table" *ngIf="filteredItems && filteredItems.length">
        <thead>
        <tr class="">
          <th width="5%" class="text-center">
            Action
          </th>
          <th width="10%" align="left">
            Product ID
          </th>
          <th width="35%" align="left">
            Product Name
          </th>
          <th width="15%" align="left">
            Sub Format
          </th>
          <th width="10%" class="text-center">
            Language
          </th>
          <th width="10%" class="text-center">
            Published Date
          </th>
          <th width="10%" class="text-center">
            Revision Date
          </th>

        </tr>
        </thead>
        <tbody>

        <tr class="altitem" *ngFor="let item of filteredItems;let i = index">
          <!-- <td>{{ item.fmcBusiness }}</td> -->
          <td style="text-align: center">
            <a href="javascript: void 0" (click)="openModal(item)">
              <img src="../../msds/assets/pdf.png" height="15"></a>
          </td>
          <td>
            <a href="javascript: void 0" (click)="openModal(item)">{{item.specificationID}}</a>
          </td>
          <td>{{ item.productName }}</td>
          <td>{{ item.wercsSubFormat }}</td>
          <td class="text-center">{{ item.language }}</td>
          <td class="text-center">{{ item.publishDate | date :'MM-dd-yyyy' }}</td>
          <td class="text-center">{{ item.revisionDate | date :'MM-dd-yyyy' }}</td>

        </tr>
        </tbody>
      </table>
    </section>
  </div>
</ng-sidebar-container>


<clr-modal [(clrModalOpen)]="searchEditModal" [clrModalClosable]="false">
  <h4 class="modal-title"> Modify Search
    <clr-icon aria-hidden="true" (click)="cancel()" shape="close"></clr-icon>
  </h4>
  <div class="modal-body p-0">
    <app-search [isMobile]="isMobile" (closeModal)="searchEditModal = !searchEditModal"></app-search>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="pdfModal" [clrModalClosable]="false" class="pdfViewer">
  <h4 class="modal-title">{{pdfModalData.productName}}
    <clr-icon aria-hidden="true" (click)="cancel()" shape="close"></clr-icon>
  </h4>
  <div class="modal-body p-0">
    <ng2-pdfjs-viewer
      [download]="true" [openFile]="false" [viewBookmark]="false" [downloadFileName]="'invoice.pdf'"
    ></ng2-pdfjs-viewer>
  </div>
</clr-modal>




