/* You can add global styles to this file, and also import other style files */
/* Default CSS Stylesheet for a new Web Application project */
/************************************************\
	Global TAG styles
\************************************************/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Thin'), url(assets/Lato-Thin.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Regular'), local('Lato-Thin'), url(assets/Lato-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato-Regular.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(assets/Lato-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato-Bold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(assets/Lato-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
  outline: none!important;
}
body{
  font-family: Lato;
  margin: 0px;
}
body.help{
  margin: 6px;
}
a{
  color: #36a1e9;
}
a:hover{
  color: #2a8cce;
}
h1{ margin-top: 0px; margin-bottom: 0px; }
h2{ margin-top: 0px; margin-bottom: 0px; }
h3{ margin-top: 0px; margin-bottom: 0px; }
h4{ margin-top: 0px; margin-bottom: 0px; }

hr{
  color: #336699;
}

.table td ,.table th{
  padding: 1.5px 5px!important;
  border: 1px solid #bfbfbf!important;
  font-size: 14px!important;
}
.table th {
  background: #ff6f5e!important;
  color: #ffffff!important;
  border-bottom-color: #ff6f5e!important;
  border-top-color: #ff6f5e!important;
  padding: 3px 6px!important;
  font-weight: bold!important;
}

/************************************************\
	General pattern styles
\************************************************/
@media print{
  .NoPrint{ display: none; }
}

.label, .label td{
  font-weight: bold;
}

.leftalign
{
  text-align:left;
}

.detailLabel {
  font-weight: bold;
  color: #336699;
}

.ErrLabel
{
  font-weight: bold;
  font-size:medium;
  color:Red;
}


.item{ background-color: #ffffff;vertical-align:top;  }
.altitem{vertical-align:top;}
.selected{ background-color: #99ccff; }
.error{ color: #ff0000; font-weight: bold; }

a.linkbutton
{
  padding: 0 10px;
  border: 1px solid #9aafe5;
  border-style:outset;
  background-color:#dddddd;
  text-decoration: none;
  color:black;
  font-weight:bold;
}

a.linkbutton a:hover{
  border: 1px solid #2b66a5;
  color: #ff6b08;
  background-color: #bbbbbb;
}

.hover
{
  cursor:pointer;
}

.ng-sidebar {
  border-right: 1px #f8f7f3 solid;
  width:320px;
}
.uppercase{
  text-transform: uppercase;
}

/* Bootstrap */
.text-primary{
  color: #ff6f5e!important;
}
.btn:focus{
    box-shadow: none!important;
}
.btn-primary{
  background-color: #ff6f5e;
  border-color: #ff6f5e;
  &:hover{
    background-color: #ff6f5e;
    border-color: #ff6f5e;
  }
}

.form-control:focus{
  box-shadow: none;
}

.page-link {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color:#777777;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ff6f5e;
  border-color: #ff6f5e;
}
.page-link:hover {
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
  background-color: #ff6f5e;
  border-color: #ff6f5e;
}
.pagination{
  margin-top:10px ;
  margin-bottom:10px ;
}
.custom-control-label::before {
  top: 0px;
  border: 1px solid #333333;
}
.custom-control-label::after {
  top: 0px;
}
.custom-checkbox:focus{
  box-shadow: none;
}

.modal-content{
  height: calc(100vh - 70px);
}
.modal-content{
  min-width: 600px!important;
}
iframe {
  border: none;
  height: calc(100vh - 70px);
}



/* ngx bootstrap */
.bs-datepicker-container{
  padding: 0px!important;
}
.theme-green .bs-datepicker-head {
  background-color: #ff6f5e;
}
.theme-green .bs-datepicker-body table td.week span{
  color: #ff6f5e;
}
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #ff6f5e;
}
.bs-datepicker-head {
  min-width: 270px;
  height: 43px;
  padding: 5px;
}
