/* You can add global styles to this file, and also import other style files */
/* Default CSS Stylesheet for a new Web Application project */
/************************************************\
	Global TAG styles
\************************************************/
body, td, input, select{
  font-family: Verdana; /* Arial  Tahoma */
  font-family: Tahoma; /* Arial  Tahoma */
}
body, td , th{
  font-size: smaller;
}
body{
  margin: 0px;
}
body.help{
  margin: 6px;
}
a{
  color: #336699;
}
a:hover{
  color: #000000;
}
h1{ margin-top: 0px; margin-bottom: 0px; }
h2{ margin-top: 0px; margin-bottom: 0px; }
h3{ margin-top: 0px; margin-bottom: 0px; }
h4{ margin-top: 0px; margin-bottom: 0px; }

hr{
  color: #336699;
}

table.gutter{
  border: solid 1px #336699;
  width: 100%;
  margin-bottom: 20px;
}
table.gutter td{
  padding: 2px 4px;
}
table.gutter td.header{
  background-color: #336699;
  color: #EBF5FB;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
/************************************************\
	Help file styles
\************************************************/


/************************************************\
	General pattern styles
\************************************************/
@media print{
  .NoPrint{ display: none; }
}

.label, .label td{
  font-weight: bold;
}

.leftalign
{
  text-align:left;
}

.detailLabel {
  font-weight: bold;
  color: #336699;
}

.ErrLabel
{
  font-weight: bold;
  font-size:medium;
  color:Red;
}

table.border{
  border: solid 1px #336699;
  padding: 10px;
}

table.header{
  border: solid 1px #336699;
  padding: 10px;
  background-color: #336699;
  color:White;
}

table.box
{
  padding:5px 10px 0;
  border:1px solid #eee;
  background-color:#F7F7F7;
}

.item{ background-color: #ffffff;vertical-align:top;  }
.altitem{ background-color: #dddddd;vertical-align:top;}
.selected{ background-color: #99ccff; }
.error{ color: #ff0000; font-weight: bold; }

table.listgrid {
  border-style:none;
}

table.listgrid td{
  padding: 2px 3px;
  border-style:none;
}
table.listgrid, table.listgrid td{
  border-color: #336699;
}

table.listgrid .header{
  background-color: #336699;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

table.listgrid .header td{ padding: 3px 4px; }
table.listgrid .header th{ white-space:nowrap; }
table.listgrid .pager span{ font-weight: bold; }
table.listgrid .pager a, table.listgrid .pager span{ text-decoration: none; }
table.listgrid .footer{ background-color: #99ccff; }

a.linkbutton
{
  padding: 0 10px;
  border: 1px solid #9aafe5;
  border-style:outset;
  background-color:#dddddd;
  text-decoration: none;
  color:black;
  font-weight:bold;
}

a.linkbutton a:hover{
  border: 1px solid #2b66a5;
  color: #ff6b08;
  background-color: #bbbbbb;
}

tr.header th.sortedasc
{
  background-image:url(./assets/sort_asc.png);
  background-repeat:no-repeat;
  background-position:left;
  padding-left:20px;
}

tr.header th.sorteddsc
{
  background-image:url(./assets/sort_desc.png);
  background-repeat:no-repeat;
  background-position:left;
  padding-left:20px;
}

.hover
{
  cursor:pointer;
}

/*
Remove comment if column scrolling is required.
.item td{ white-space:nowrap; }
.altitem td{ white-space:nowrap; }
*/
