a.linkbutton
{
  padding: 0 10px;
  border: 1px solid #9aafe5;
  border-style:outset;
  background-color:#dddddd;
  text-decoration: none;
  color:black;
  font-weight:bold;
}

a.linkbutton a:hover{
  border: 1px solid #2b66a5;
  color: #ff6b08;
  background-color: #bbbbbb;
}
table.box
{
  padding:5px 10px 0;
  border:1px solid #eee;
  background-color:#F7F7F7;
}

