<div class="row filter-container">

    <div class="col-lg-3 col-md-4 col-sm-5">
      <app-filter></app-filter>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-7 pl-0 text-center">
      <aside class="bg-light right-section h-100">
        <h5 class="p-lg-5 pt-lg-5 text-muted"><br><br><br><br>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</h5>
        <br><br>
        <button type="button" class="btn btn-link text-primary">Home</button>
        <button type="button" class="btn btn-link text-primary">About</button>
      </aside>
    </div>

</div>
